<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
  </head>
  <body>
    <form id="postform" action = "/addcourse" method="post">
    {% csrf_token %}
    <h2>Add a new course</h2>
    <div id = "formdiv"><p>Name: <input class="input" type="text" name="name"></p>
    <p>Description: <textarea rows="5" class="input" name="description"></textarea></p></div>
    <!-- <div id="buttondiv"> -->
      <button id = "addbutton" type="submit" value="Add">Add</button>
    <!-- </div> -->
    </form>
    <div id="courses">
      <h2>Courses</h2>
      <table>
        <tr>
          <!-- <th class = "smallrow">Course ID</th> -->
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th class = "smallrow">Actions</th>
        </tr>
      {% for course in courses %}
      <tr>
        <!-- <td>{{course.id}}</td> -->
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.created_at}}</td>
        <td> <form action = "/remove" method="post">     {% csrf_token %}
 <input type="hidden" name="id" value={{course.id}} />
<button type="submit" value="Remove">Remove</button></form></td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </body>
</html>
