<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete a Course</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
  </head>
  <body>
    <div id = "coursedelete">
      <h3> Are you sure you want to delete the following course? </h3>
      {% for course in coursetodelete %}
        <div id ="names">
          <p class = "headers">Name:</p>
          <p class = "content"=>{{course.name}} </p>
        </div>
        <div id ="descriptions">
          <p class = "headers">Description:</p>
          <p class = "content">{{course.description}}</p>
        </div>
      {% endfor %}
      <div id = 'buttons'>
        <a class ="buttonlink" href = "/"><div class = 'button no'>No</div></a>
        <a class ="buttonlink" href = "/confirmremove"><div class = 'button yes'>Yes! I want to delete this!</div></a>
      </div>
    <div>
  </body>
</html>
