/**{outline: 1px dotted red}*/

#postform{
  width: 500px;
  margin: 20px
}

.input{
  width: 300px;
  height: auto;
  float: right;
  outline: 1px solid black;
  resize: none;
}

#addbutton{
  display: block;
  float: right;
  margin-right: 20px;
}

#formdiv{
  height: 120px;
}

table{
  outline: 1px solid black
}

td{
  outline: 1px solid black;
  width: auto;
  height: auto;
}


th{
  outline: 1px solid black;
  width: 200px;
}


.smallrow{
  width: 50px;
}

#coursedelete{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.headers{
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.content{
  display: inline-block;
  margin: 20px;
  width: 330px;
  float: right;
}

#buttons{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}

.button{
  outline: 1px solid black;
  display: inline-block;
  margin: 20px;
  padding: 5px 20px;
  box-shadow: black 5px 5px;
}

.no{
  background-color: grey
}
.yes{
  background-color: darkred;
  color: white;
}

.buttonlink{
  color: inherit;
}
