<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Dojodachi</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <p>Fullness: @ViewBag.fullness </p>
        <p>Happiness: @ViewBag.happiness </p>
        <p>Meals: @ViewBag.meals </p>
        <p>Energy: @ViewBag.energy </p>
        <form action = "feed" method="feed">
        <button type="submit">Feed</button>
    </body>
</html>