<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEROES IN A HALFSHELL</title>
  </head>
  <body>
    {% autoescape off %}
      {{session.result}}
    {% endautoescape %}
    <!-- <img id="thefour" src="static/tmnt.png">
    <img id="leonardo" src="static/leonardo.jpg">
    <img id="michelangelo" src="static/michelangelo.jpg">
    <img id="raphael" src="static/raphael.jpg">
    <img id="donatello" src="static/donatello.jpg">
    <img id="april" src="static/notapril.jpg"> -->

    <!-- <div id="noninjas"> No ninjas here.</div>
    <img id="thefour" src="static/tmnt.png">
    <img id="leonardo" src="static/leonardo.jpg">
    <img id="michelangelo" src="static/michelangelo.jpg">
    <img id="raphael" src="static/raphael.jpg">
    <img id="donatello" src="static/donatello.jpg">
    <img id="april" src="static/notapril.jpg"> -->
  </body>
</html>
