<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coding Dojo Wall</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
  </head>
  <body>
    <div id = "container">
      <div id = "header">
        <h1 clas = "fixpls">Coding Dojo Wall</h1>
        <p class = "account">Hello Dalton</p>
        <p class = "account">log off</p>
      </div>
      <form>
        <h2>Post a Message</h2>
        <input type="textarea">
        <button type="submit"/>Post a Message</button>
      </form>
      <div class = "comment">
      </div>
    </div>
  </body>
</html>
