<html>
    <head>
        <title>Add a Reveiew</title>
    </head>
    <body>
        <form action="addreview" method="get">
            Reviewer Name: <input type="text" name="reviewer"><br>
            Restaurant Name: <input type="text" name="restaurant"><br>
            Review: <input type="textarea" name="content"><br>
            Date of Visit: <input type="date" name="date"><br>
            Stars: <select name = "rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>