<html>
    <title>
        <style>
            #header p{
                display: inline-block;
            }
        </style>
    </title>
    <body>
        <div id = "header">
            <p>Dashboard</p>
            <p><a href="products">Products</a></p>
            <p><a href="orders">Orders</a></p>
            <p><a href="customers">Customers</a></p>
            <p><a href="settings">Settings</a></p>
        </div>
    </body>
</html>