<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <!--In this context '~' refers to the wwwroot folder-->
        <link rel="stylesheet" type="text/css" href="~/css/style.css"/>
        <!--<style>
            *{outline: 1px green dotted}
        </style>-->
    </head>
    <body>
        <div id = "navbar">
            <p>Home</p>
            <p>Projects</p>
            <p>Content</p>
        </div>
        <h1>Welcome Home!</h1>
    </body>
</html>