<html>
    <head>
       <title>Lost in the Woods</title> 
    </head>
    <body>
        <form action="add" method = "post"><br>
            Trail Name<input type="text" name = "name"><br>
            Description<input type="text" name = "desc"><br>
            Trail Length<input type="text" name = "length"><br>
            Elevation Change<input type="text" name = "elchange"><br>
            Longitude<input type="text" name = "longitude">
                <select name = "NorS">
                    <option value="N">N</option>
                    <option value="S">S</option>
                </select><br>
            Latitude<input type="text" name = "latitude"> 
                <select name = "EorW">
                    <option value="E">E</option>
                    <option value="W">W</option>  
                </select><br>
            <button type="submit">Create Record!</button>
        <a href="/">Go Home</a>
        </form>
    </body>
</html>