<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Join the Dojo!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <form>
      <input type="text" name="Name" value="Name">
      <input type="text" name="Email" value="Email">
      <input type="text" name="Belt Color" value="Color">
      <input type="text" name="Weapon Mastery" value="Weapon">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
