<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninja Facts!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <p>While the image of a ninja clad in black garb (shinobi shōzoku) is prevalent in popular media, there is no written evidence for such a costume. Instead, it was much more common for the ninja to be disguised as civilians. The popular notion of black clothing is likely rooted in artistic convention; early drawings of ninja showed them dressed in black in order to portray a sense of invisibility. This convention was an idea borrowed from the puppet handlers of bunraku theater, who dressed in total black in an effort to simulate props moving independently of their controls. Despite the lack of hard evidence, it has been put forward by some authorities that black robes, perhaps slightly tainted with red to hide bloodstains, was indeed the sensible garment of choice for infiltration.</p>
  </body>
</html>
